.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 60px;
    width: 70px;
    z-index: 200;
    background-color: rgba(0,0,0,0.93);
}

.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-link:hover{
    border-radius: 10px;
    background-color: rgba(136, 136, 136, 0.389);
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
    color: white;

}